@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightskyblue;
    height: 100vh;
    width: 100vw;
}

h1{
    padding: 1em 0;
    color: white;
    text-align: center;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.384);
    padding: 1em;
    background-color: white;
}

main input[type=button]{
    padding: 10px 15px;
}

main p{
    text-align: center;
    font-size: 1.3em;
    padding-top: 1em;
}

#imagem{
    margin: 1em auto;
    background: black;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

@media screen and (max-width:640px) {
    main{
        width: 80vw;
        height: 80vh;
    }

    main p{
        padding-top: 2em;
    }

    #imagem{
        transform: translate(0%,20%);
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width:370px) {
    h1{
        padding: 5px 0;
        font-size: 1.5em;
    }
    
    main{
        width: 95vw;
        height: 85vh;
    }

    main p{
        padding-top: 1em;
    }

    #imagem{
        transform: translate(0%,10%);
        height: 250px;
        width: 250px;
    }
}

