@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
    height: 0;
}

body{
    height: 100vh;
    width: 100vw;
    align-items: center;
    background-color: aquamarine;
}

h1{
    padding: 10px 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

main{
    margin: auto;
    width: 300px;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.438);
    background-color: white;
}